@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  h1,
  h2,
  h3 {
    @apply mt-6 mb-1 font-bold
  }

  h1 {
    @apply text-3xl mb-2 font-bold text-center
  }

  h2 {
    @apply text-2xl
  }

  h3 {
    @apply text-xl
  }

  p {
    @apply mb-1 mt-4 ml-6
  }

  a {
    @apply hover:underline hover:opacity-70
  }

  hr {
    @apply h-px bg-dark dark:bg-light-600 w-full my-4 border-0 opacity-50
  }
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: #fbf8f0;
  background-color: #2e262d; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    @apply text-dark bg-light;
  }

  .header-bg-gradient {
    background: rgb(92, 165, 214);
    background: linear-gradient(105deg, rgba(92, 165, 214, 1) 0%, rgba(126, 89, 213, 1) 15%, rgba(214, 147, 92, 1) 30%, #f5e4d6 45%);
  }

  th,
  td {
    @apply border-solid border-2 border-body-700/20 p-1 text-dark;
  }

  thead tr {
    @apply bg-body-700/20 p-1 text-dark;
  }


  tbody tr:nth-child(odd) {
    @apply bg-body-700/10 p-1;
  }

  tbody tr:nth-child(even) {
    @apply bg-body-700/5 p-1;
  }

}

@media (prefers-color-scheme: dark) {
  :root {
    @apply bg-dark text-light;
  }

  th,
  td {
    @apply border-solid border-2 border-dark-300 p-1 text-light;
  }

  thead tr {
    @apply bg-dark-700 p-1 text-light-300;
  }


  tbody tr:nth-child(odd) {
    @apply bg-dark p-1;
  }

  tbody tr:nth-child(even) {
    @apply bg-dark-400 p-1;
  }
}

/* .header-bg-gradient {
  background: rgb(92, 165, 214);
  background: linear-gradient(105deg, rgba(92, 165, 214, 1) 0%, rgba(126, 89, 213, 1) 15%, rgba(214, 147, 92, 1) 30%, rgba(244, 236, 215, 1) 45%);
} */
/* 
.markdown-styles {
  p {
    @apply indent-8
  }
} */

.table-container {
  height: 400px;
  width: 400px;
  margin: 0 auto;
}

img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

table {
  width: 100%;
  border-collapse: collapse;

}



.body {
  color: orange;
}

.mind {
  color: blue;
}

.soul {
  color: purple;
}

.md_list {
  padding-left: 6%;
  list-style-type:"-";
  margin-top: 1%;
  text-indent: 2%;
}

ul li {
  margin-top: 1%;
}

.tooltip_hide {
  display: none;
  
  @apply absolute border-solid border-2 border-body-700/20 mb-2 w-auto px-2 py-1 bg-dark-400 rounded shadow-lg left-1/2 transform -translate-x-1/2 z-20 

}

.tooltip_main:hover + .tooltip_hide {
  display: block;
  }